.vs/
bin/
obj/

appsettings.json
/OnlineClothing/appsettings.json
/OnlineClothing/wwwroot/images/4fae8d23-9cb1-45d2-a934-51b9abef4ad0_tohka.jpg
OnlineClothing.sln
OnlineClothing/appsettings.json
*.env
/OnlineClothing/.env
