@model OnlineClothing.Models.ForgotModelView
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Clothing Shop</title>

    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true">
</head>
<body>

    <div class="container">
        <div class="form-container sign-in-container">
            <form method="post" asp-action="ForgotPassword">
                <h1>Password Reset</h1>
                <h3 style="color: #e09f3e;">Enter you email address below, and we'll send you an email allowing you to reset it!</h3>

                <div asp-validation-summary="All" class="text-danger"></div>

                <input type="email" asp-for="Email" placeholder="Email" required />
                
                <button style="margin-top: 20px;" type="submit">Reset My Password</button>
                <h2><a href="/Account/Login"> - Back to Login - </a></h2>
            </form>
        </div>
    </div>

    <script src="~/js/login.js" asp-append-version="true"></script>

</body>
</html>