@model OnlineClothing.Models.SignUpViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>

    <link rel="stylesheet" href="~/css/signup.css" asp-append-version="true">
</head>
<body>

    <div class="container">
        <!-- Sign-Up Form -->
        <div class="form-container sign-in-container">
            <form method="post" asp-action="SignUp">
                <h1>Create Account</h1>

                <div style="color: #e09f3e;" asp-validation-summary="All" class="text-danger"></div>

                <select asp-for="UserType" required>
                    <option value="" disabled selected>Who are you?</option>
                    <option value="customer">Customer</option>
                    <option value="seller">Seller</option>
                </select>

                <input type="text" asp-for="FullName" placeholder="Full Name" required />
                <input type="email" asp-for="Email" placeholder="Email" required />
                <input type="text" asp-for="UserName" placeholder="UserName" required />
                <input type="password" asp-for="Password" placeholder="Password" required />
                <input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" required />
                <input type="text" asp-for="PhoneNumber" placeholder="Phone Number" required />
                <select style="margin:3px 0;" asp-for="Gender" required>
                    <option value="" disabled selected>Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>

                <input style="margin:3px 0;" type="date" asp-for="DateOfBirth" placeholder="Date of Birth" required />
                <input style="margin:3px 0;" type="text" asp-for="Address" placeholder="Address" required />

                <h2><a href="/Account/Login">Login</a></h2>
                <button type="submit">Sign Up</button>
                <h2><a href="/Home"> - Back to Home - </a></h2>
            </form>
        </div>
    </div>

    <script src="~/js/login.js" asp-append-version="true"></script>

</body>
</html>
